<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="margin: 1% 2%; background-color: rgb(60,60,60,0.5);">
			<h4 style="padding: 1%;color: lightblue;">Team Evaluation Results</h4>
			<table class="table  table-collapse" style="background-color: #f2f2f2;">
			<tr>
				<th style="background-color:#EEE;color:black;">No</th>
				<th style="background-color:#EEE;color:black;">Logo</th>
				<th style="background-color:#EEE;color:black;">Team Name</th>
				<th style="background-color:#EEE;color:black;">Result</th>
			</tr>
			<% no = 0 %>
			<% @teres.each do |teres| %>
			<% no += 1 %>
				<tr>
					<td style="background-color: white;color:black;"><%= no %></td>
					<td style="background-color: white;color:black;"><%= image_tag("#{teres.team.logo}.JPG",style:"width:70px;") %></td>
					<td style="background-color: white;color:black;"><%= teres.team.name %></td>
					<td style="background-color: white;color:black;"><%= teres.total %></td>
				</tr>	
			<% end %>
			</table>
		</div>
		<hr>
		<div style="margin: 1% 2%; background-color: rgb(60,60,60,0.5);">
			<h4 style="padding: 1%;color: lightblue;">Student Evaluation Results</h4>
			<table class="table  table-collapse" style="background-color: #f2f2f2;">
			<tr>
				<th style="background-color:#EEE;color:black;">No</th>
				<th style="background-color:#EEE;color:black;">Roll no</th>
				<th style="background-color:#EEE;color:black;">Student Name</th>
				<th style="background-color:#EEE;color:black;">Result</th>
			</tr>
			<% no = 0 %>
			<% @stures.each do |sture| %>
			<% no += 1 %>
				<% if sture.total %>
				<tr>
					<td style="background-color: white;color:black;"><%= no %></td>
					<td style="background-color: white;color:black;"><%= sture.roleno%></td>
					<td style="background-color: white;color:black;"><%= sture.name %></td>
					<td style="background-color: white;color:black;"><%= sture.total %></td>
				</tr>	
				<% end %>
			<% end %>
			</table>
		</div>
</body>
</html>